<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite" parallel="classes" thread-count="5">

    <test verbose="2" preserve-order="true" name="E:/JAVA_Selenium/NewSelenium/src/test/java/tests/Test2.java">
        <parameter name="browserNameXML" value="chrome"></parameter>
        <groups>
            <run>
                <exclude name="method2"/>
                <exclude name="method3"/>
                <exclude name="method4"/>

            </run>
        </groups>
        <classes>
            <class name="tests.Test2"></class>
        </classes>
    </test>
</suite>
